.community-content {
    display: flex;
    justify-content: space-between;
}

.friendsresult {
    text-decoration: none;
    color: gray;
}
#friendsheader {
    display: inline-block;
}
#friendsearch {
    display: inline-block;
    float: right;
}
#friendsresultlist {
    list-style-type: none;
}
.friendsresultlistitem {
    list-style-type: none;
}
#requests {
    display: inline-block;
    max-width: 30%;
    border: 1px black;
}

.profile-lists-block {
    min-width: 250px;
    max-width: 50%;
    margin-right: 10px;
}

.profile-friends-block {
    min-width: 250px;
    max-width: 50%;
}

#info-display, #activity-display {
    /* width: 50%; */
    display: inline-block;
}

.profileusername {
    display: inline-block
}

.profilebutton {
    max-height: 100%;
    width: auto;
    float: right;
    font-size: 1em;
}