{% extends "layout.html" %}
{% load static %}
{% load watching_extras %}

{% block searchterm %}
{{ query }}
{% endblock %}

{% block body %}
  {% for id, item in results.items %}
    <div class="search-flex-container" style="width: 100%; height: auto;">
      <div class="searchposter">
        <img data-src="{{ item.poster_path|get_pic }}" class="lazy">
      </div>
      <div class="searchinfo">
        <h5 class="searchtitle"><a href="{% url 'details' item.type id %}">{{ item.title }}</a></h5>
        <div class="addtolistbutton dropdown">
          <button class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Add to List</button>
          <form action="{% url 'addtolist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ id }}">
            <input type="hidden" name="type" value="{{ item.type }}">
            <input type="hidden" name="poster" value="{{ item.poster_path }}">
            <ul class="dropdown-menu">
              {% for list in user.mylists.all %}
                <li><a><input class="dropdown-item" type="submit" name="list" value="{{ list.name }}"></input></a></li>
              {% endfor %}
            </ul>
          </form>
        </div>
        <div>
          {% if item.genre %}
            {% if item.genre_count > 1 %}
              {% for word in item.genre %}
                {% if forloop.last %}
                  {{word}}
                {% else %}
                  {{ word }},
                {% endif %}
              {% endfor %}
            {% else %}
              {{ item.genre }}
            {% endif %}
          {% endif %}
        <p>{{ item.overview }}</p>
        </div>
      </div>
    </div>
    <hr>
  {% empty %}
    <p>No results.</p>

  {% endfor %}
{% endblock %}
