{% extends "watching/layout.html" %}
{% load static %}

{% block body %}
  {% if poster %}
    <div class="detailsPoster">
      <img src="{{ poster }}">
    </div>
  {% endif %}
  <div class="detailsInfo">
    <h3 class="detailstitle">{{ data.original_name }}</h3>
    <div class="addtolistbutton dropdown">
      <button class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Add to List</button>
      <form action="{% url 'addtolist' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ data.id }}">
        <input type="hidden" name="type" value="tv">
        <ul class="dropdown-menu">
          {% for list in user.mylists.all %}
            <li><a><input class="dropdown-item" type="submit" name="list" value="{{ list.name }}"></input></a></li>
          {% endfor %}
        </ul>
      </form>
    </div>
    <p>{{ data.overview }}</p>
    <ul>
      {% for genre in data.genres %}
        <li>{{ genre.name }}</li>
      {% endfor %}
    </ul>
    <h4>Where to Watch:</h4>
    {% if providers.flatrate %}
      {% for item in providers.flatrate %}
      <img class="providerlogo" src="{{ item.logo }}">
      {% endfor %}
      <br>
    {% endif %}

    {% if providers.rent %}
      {% for item in providers.rent %}
      <img class="providerlogo" src="{{ item.logo }}">
      {% endfor %}
      <br>
    {% endif %}
    {% if providers.buy %}
      {% for item in providers.buy %}
        <img class="providerlogo" src="{{ item.logo }}">
      {% endfor %}
      <br>
    {% endif %}
    More info available <a href="{{ providers.link }}">here</a>.
  </div>
  
{% endblock %}