{% extends "layout.html" %}
{% load static %}
{% load friends_extras %}

{% block moresheets %}
    <link href="{% static 'friends/styles.css' %}" rel="stylesheet">
{% endblock moresheets %}

{% block body %}
    <h1 id="friendsheader">Community</h1>
    <div id="friendsearch">
        <form action="{% url 'friends-search' %}" method="GET">
            <label for="friendsearchinput">Search for friends:</label>
            <input type="text" name="query" id="friendsearchinput" placeholder="Search" value="{% block searchterm %}{% endblock %}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <hr>
    {% block community %}
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <div id="friendslist">
            <h4>Your Friends</h4>
            {% for friend in friends %}
                {{ friend.username }} - Friends since: {{ friend.since }}<br>
            {% empty %}
                No friends yet! Try meeting some people, loser.
            {% endfor %}
        </div>
        <div id="incRequests">
            <h4>Requests</h4>
            {% for item in incRequests %}
                {{ item.user_first }} - <a href="{% url 'profile' item.user_second.pk %}" class="friendsresult">{{ item.user_second }}</a> - {% if labels|get_value:item.pk %}{{ labels|get_value:item.pk }}{% endif %} 
                <form action="{{ formactions|get_value:item.pk|index:0 }}" method="POST" id="form{{item.pk}}" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="submit" value="{{ values|get_value:item.pk|index:0 }}" class="btn btn-outline-success">
                    <input form="form{{item.pk}}" type="hidden" name="receiver" value="{{ receivers|get_value:item.pk }}">
                </form>
                <form action="{{ formactions|get_value:item.pk|index:1 }}" method="POST" id="form{{item.pk}}" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="submit" value="{{ values|get_value:item.pk|index:1 }}" class="btn btn-outline-danger">
                    <input form="form{{item.pk}}" type="hidden" name="receiver" value="{{ receivers|get_value:item.pk }}">
                </form><br>
            {% empty %}
                No one wants to be your friend. :(
            {% endfor %}
        </div>
        <div id="sentRequests">
            <h4>Sent Requests</h4>
            {% for item in sentRequests %}
                {{ item.user_first }} - <a href="{% url 'profile' item.user_second.pk %}" class="friendsresult">{{ item.user_second }}</a> - {% if labels|get_value:item.pk %}{{ labels|get_value:item.pk }}{% endif %}
                <form action="{{ formactions|get_value:item.pk }}" method="POST" id="form{{item.pk}}" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="submit" value="{{ values|get_value:item.pk }}" class="btn btn-outline-success">
                    <input form="form{{item.pk}}" type="hidden" name="receiver" value="{{ receivers|get_value:item.pk }}">
                </form><br>
            {% empty %}
                No pending requests! You either need to go search for some people, or you're very popular.
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}